.article {
  border-radius: 5px;
  border: 1px solid #0000001a;
}
.article.list {
  display: flex;
  border-radius: 0;
  border-width: 0 0 1px;
}
.article.list .imageHolder {
  margin: 20px 0 20px 20px;
  max-width: 200px;
  min-width: 200px;
}

.imageHolder {
  position: relative;
  overflow: hidden;
  max-height: 400px;
}

.imageHolder img {
  width: 100%;
}

.content {
  padding: 24px 32px;
}

.title {
  font-size: 1.125rem;
  color: #2867ff;
  font-weight: 600;
  line-height: 1.3;
  margin: 0 0 10px;
}
.title a {
  color: inherit;
}
.meta {
  font-size: 0.75rem;
  font-weight: 400;
  color: #54555e;
}

.author {
  color: inherit;
}
.author:after {
  content: '-';
  display: inline-block;
  margin: 0 3px;
}

.description {
  font-size: 1rem;
  color: #444;
  font-weight: normal;
  line-height: 1.4;
  margin-bottom: 15px;
}
.description a {
  color: inherit;
}
