.list {
  display: none;
}
@media (min-width: 550px) {
  .list {
    display: flex;
  }
}

.listItem {
  margin: 0 5px;
  cursor: pointer;
}

.listItem:last-child {
  margin-right: 0;
}

.listItem:hover {
  background-color: #f1f1f1;
}
.listItem.active {
  background-color: #e4e4e4;
}
