.articles {
  display: grid;
  grid-gap: 30px;
  grid-template-columns: repeat(4, 1fr);
}
.articles.list {
  grid-gap: 15px;
  grid-template-columns: repeat(1, 1fr);
}

.loader {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 300px;
  font-size: 2rem;
}
