.header {
  border-bottom: 1px solid #ddd;
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  background-color: #fff;
  padding: 0 50px;
  display: flex;
  height: 60px;
  align-items: center;
  z-index: 99;
}

.logoWrapper {
  font-family: "Times New Roman";
  font-size: 1.5rem;
  font-weight: 400;
  line-height: normal;
  margin: 0;
  padding: 0;
}

.logo {
  color: #171821;
}

.headerLeft {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
