.heading {
  font-size: 1.5rem;
  text-transform: uppercase;
}

.wrapper {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-column-gap: 25px;
  grid-row-gap: 25px;
}

.gridItem {
  box-shadow: 0px 0 4px 2px #f5f1f1;
  padding: 15px;
  background: #fff;
}

img {
  max-width: 100%;
}
