.button {
    border: none;
    outline: none;
    padding: 12px 16px;
    background-color: white;
    cursor: pointer;
  }
  
  .button:hover {
    background-color: #ddd;
  }
  
  .button.active {
    background-color: #666;
    color: white;
  }